*{
    margin: 0;
    padding: 0;
}

html {
    background: #fff;
    color: #555;
    font-family:'lato','Arial','sans-serif';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

header{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(14125035_1181042655249438_5486190309035942648_o.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

section {
    padding: 80px 0;
}

h1,h2,h3,H4 {
    font-weight: 300;
    text-transform: uppercase;
}

h1{ 
    font-weight: 300;
    text-transform: uppercase;
    padding-top: 290px;
    padding-left: 30px;
    font-size: 500%;
    color: rgba(255, 255, 255, 0.93);
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 400%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 { 
    font-size: 124px;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2:after {
    display:block;
    height: 2px;
    background-color: #e67e22;
    content:" ";
    width: 300px;
    margin: 0 auto;
    margin-top: 30px;
}

h4{ 
    text-align: center;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
    font-size: 20px;
}

.quote { 
    font-size: 300%;
    background-color: #d9d9d9;
    text-align: center;
}

.hobbies{

    background-color: #555;
    color: white;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: justify;
    word-spacing: 1px;
}
li{padding-top: 2px;
}

ul{
    padding-left: 25%;
    display: inline-block;
    *display: inline;
    zoom: 1
}
.hheading{
    color: white;
    font-size: 90px;
}

.hheading:after {
    display:block;
    height: 2px;
    background-color: #e67e22;
    content:" ";
    width: 123px;
    margin: 0 auto;
    margin-top: 30px;
}

.name{
    background-color: #d9d9d9;
}

a:link,
a:visited {
    color: white;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #ffa500; 
    transition: border-bottom 0.2s, color 0.2s;
    border-bottom-color: #ffa500;

}

a:hover,
a:active {
    color:#ffa500 ;
    border-bottom: 1px solid transparent; 
}

.hheading1{
    font-size: 90px;
}

.jobs1{
    padding-left: 25%;
    font-size: 50px;
}

ol{padding-left: 25%;
display: inline-block;
    *display: inline;
    zoom: 1
}

.edu{
    margin-left: 25%;
    margin-bottom: 30px;
}

.blue{
    color: blue;
}

.links{background-color: #555;
    color: white;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: justify;
    word-spacing: 1px;
}

.tcode{
    width: 80%;
    border: 0;
    margin: 0 auto;

}