*{
    margin: 0;
    padding: 0;
}

html {
    background: #fff;
    color: #555;
    font-family:'lato','Arial','sans-serif';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.aboutme{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(myimg.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-top: -32px
}

section {
    padding: 20px 0;
}

h1,h2,h3,H4 {
    font-weight: 300;
    text-transform: uppercase;
}

.h1aboutme{ 
    font-weight: 300;
    text-transform: uppercase;
    padding-top: 290px;
    padding-left: 30px;
    color: rgba(255, 255, 255, 0.93);
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 400%;
    word-spacing: 4px;
    letter-spacing: 2px;
}

.h1aboutme:after {
    display:block;
    height: 1px;
    background-color: #e67e22;
    content:" ";
    width: 6%;
    margin: 0 auto;
    margin-top: 1%;
    margin-left: 7%;
    
}

section .h2aboutme{ 
    font-size: 70px;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

section h2:after {
    display:block;
    height: 2px;
    background-color: #e67e22;
    content:" ";
    margin: 0 auto;
    margin-top: 10px;
}

h4{ 
    text-align: center;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
    font-size: 20px;
}

.quote { 
     color: white;
    background-color: #555;
    text-align: center;
    
}

blockquote{
    font-size: 200%
}

.hobbies{

    background-color: #d9d9d9;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: center;
    word-spacing: 1px;
    
}
li{padding-top: 2px;
}

ul{
    color: #555;
    padding-left: 10%;
    display: inline-block;
    *display: inline;
    text-align: justify;
    padding-right: 10%;
    font-size: 120%;
    zoom: 1
}
.h2aboutme{
    color: white;
    font-size: 90px;
}

h2:after {
    display:block;
    height: 2px;
    background-color: #e67e22;
    content:" ";
    width: 123px;
    margin: 0 auto;
    margin: 10px;
    
}

.name{
    background-color: #d9d9d9;
    padding-top: -150%;
}

.hheading1{
    font-size: 90px;
}

.tcode{
    width: 80%;
    border: 0;
    margin: 0 auto;

}

p{  padding-top: 20px;
    padding: 0 10%;
    font-size: 120%;
    line-height: 2;
}

.techused{
    background-color: #555;
    color: white;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: justify;
    word-spacing: 1px;
    text-align: center;
}
    
.writtenblack{
    
    color: #555;
    text-align: center;      
    }
    
.tech{
    padding-top: 30px;
}
