/*
**********************
GAME.CSS
**********************
*/
canvas {
  display:block;
  margin:30px auto 0;
  border:1px dashed #ccc;
  background:#000;
  margin-bottom: 10px;
}

.intro{
    margin-top: 52px;
    
}