*{
    letter-spacing: 1px;
    word-spacing: 1px;
   
}

html {
    background: #fff;
    font-family:'lato','Arial','sans-serif';
    font-weight: 300;
    font-size: 100%;
    text-rendering: optimizeLegibility;
    
}

.funllama{
    text-align: center;
    color: #555;
}

.funllama:after {
    display:block;
    height: 1px;
    background-color: #e67e22;
    content:" ";
    width: 7%;
    margin: 0 auto;
    margin-top: 1%;
    
    
}
.homeheader {
    background-image: url(../assets/llama.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation: fadein 2s;
    margin-top: -20px;
}

.llama {
    padding-top: 20%;
    color: aliceblue;
    font-weight: 300;
    animation: fadein 6s;
    height: auto;
    padding-left: 2%;
    
}

.llama:after {
    display:block;
    height: 1px;
    background-color: #e67e22;
    content:" ";
    width: 7%;
    margin: 0 auto;
    margin-top: 1%;
    margin-left: 11%;
    
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.funllamalist{
    margin-top: 30px;
    font-size: 20px;
    
}

.funllamalist li{
    padding-top: 10px;
    padding-right: 20%
    
}

