
<section class="code">
    <div>
                    <header class="aboutme">
                        <h1 class="h1aboutme">Welcome</h1>
                    </header>
                    <section class="name">
                        <div>
                            <h2 class="h2aboutme">MANBIR SINGH JASPAL</h2>
                            <h4>FRONT END DEVELOPER | BACK END DEVELOPER | ANDROID DEVELOPER </h4>
                        </div>
               
            
                    <section class="hobbies">
                        <div>
                            <h2 class="h2aboutme">HOBBIES</h2>
                            <ul>
                                <li>Playing the guitar
                                </li>
                                <li>Beatboxing
                                </li>
                                <li>
        Billiards</li>
                                <li>
       Basketball</li>
                                <li>
        Swimming</li>
                                <li>Video Games</li>
                                <li>Remote control drones</li>
                                <li>Virtual Reality</li>
                            </ul>
                            <ul class="secondList">
                                <li>FAVOURITE SONGS :</li>
                                <li>Despacito</li>
                                <li>Wild Thoughts</li>
                                <li>Badak Yellow</li>
                                <li>Location</li>
                                <li>Saved</li>
                                <li>Thats What I Like</li>
                                <li>Shape Of You</li>
                            </ul>
                        </div>
                    </section>

               
                    <section class="quote">
                        <div>
                            <blockquote>
                                "You're only given a little spark of madness. You mustn't lose it."
                            </blockquote>

                        </div>

                    </section>
               
                    <section class="links">
                        <div>
                            <h2 class="h2aboutme">Other Links</h2>
                            <ul>
                                <li><a class = "linkaboutme"href="https://github.com/ManbirJaspal" target="_blank">GitHub</a></li>
                                <li>
                                    <a class = "linkaboutme"href="C:\Users\manbir\Desktop\Web programming/Resume_ManbirJaspal.pdf"
                                       target="_blank">Resume</a></li>
                            </ul>
                        </div>
                    </section>
        
        </section>
    </div>
</section>