
<section class="code">
    <div>
        <table class="tcode">
            <tr>
                <td>
                    <header class="aboutme">
                        <h1 class="h1aboutme">Welcome</h1>
                    </header>
                    <section class="name">
                        <div>
                            <h2 class="h2aboutme">MANBIR SINGH JASPAL</h2>
                            <h4>FRONT END DEVELOPMENT | BACK END DEVELOPMENT | ANDROID DEVELOPER </h4>
                        </div>
                    </section>
                </td>
            </tr>
            <tr>
                <td>
                    <section class="hobbies">
                        <div>
                            <h2 class="h2aboutme">HOBBIES</h2>
                            <ul>
                                <li><a class = "linkaboutme"href="https://www.ultimate-guitar.com" target="_blank">Playing the guitar</a>
                                </li>
                                <li><a class = "linkaboutme"href="https://en.wikipedia.org/wiki/Beatboxing" target="_blank">Beatboxing</a>
                                </li>
                                <li><a class = "linkaboutme"href="https://en.wikipedia.org/wiki/Billiard
        " target="_blank">Billiards</a></li>
                                <li><a class = "linkaboutme"href="https://en.wikipedia.org/wiki/Basketball
        " target="_blank">Basketball</a></li>
                                <li><a class = "linkaboutme"href="https://en.wikipedia.org/wiki/Swimming
        " target="_blank">Swimming</a></li>
                                <li><a class = "linkaboutme"href="https://www.gamespot.com/pc/games/
        " target="_blank">Video Games</a></li>
                                <li><a class = "linkaboutme"href="www.rc-drones.com/
        " target="_blank">Remote control drones</a></li>
                                <li><a class = "linkaboutme"href="https://en.wikipedia.org/wiki/Virtual_reality
        " target="_blank">Virtual Reality</a></li>
                            </ul>
                            <ul class="secondList">
                                <li>FAVOURITE SONGS :</li>
                                <li>Despacito</li>
                                <li><span class="blue">Wild</span>Thoughts</li>
                                <li>Badak Yellow</li>
                                <li>Location</li>
                                <li>Saved</li>
                                <li>Thats What I <span class="blue">Like</span></li>
                                <li>Shape Of You</li>
                            </ul>
                        </div>
                    </section>

                </td>
            </tr>
            <tr>
                <td>
                    <section class="quote">
                        <div>
                            <blockquote>
                                "You're only given a little spark of madness. You mustn't lose it."
                            </blockquote>

                        </div>

                    </section>
                </td>
            </tr>
            <tr>
                <td>
                    <section class="links">
                        <div>
                            <h2 class="h2aboutme">Other Links</h2>
                            <ul>
                                <li><a class = "linkaboutme"href="https://github.com/ManbirJaspal" target="_blank">GitHub</a></li>
                                <li>
                                    <a class = "linkaboutme"href="C:\Users\manbir\Desktop\Web programming/Resume_ManbirJaspal.pdf"
                                       target="_blank">Resume</a></li>
                            </ul>
                        </div>
                    </section>
                </td>
            </tr>
        </table>
    </div>
</section>